# OSX files
**/.DS_Store

# Execution results
**/results/
session_name.session

# Configuration and extra files
pytopicgram/config/channels.csv
pytopicgram/config/snowball_channels.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

